<nav class="navbar navbar-light color">
  <a class="navbar-brand">
    <img src="assets/cliente.png" width="30" height="30" class="d-inline-block align-top" alt="">
    Cliente : Eliminar
  </a>
  <a routerLink="/gestion">Salir</a>
</nav>
<div class="container ">
  <br><br>
  <form class="form-inline my-2 my-lg-0 ">
    <input class="form-control mr-sm-2 px-4 " type="search" placeholder="Cedula" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <br><br>
  <form>
    <div class="form-group ">
      <label>Numero de Cédula</label>
      <input type="text" class="form-control" id="ce-numeroCedula" disabled>
    </div>
    <div class="form-group">
      <label>Nombre completo</label>
      <input type="text" class="form-control" id="ce-nombre" disabled>
    </div>
  </form>
  <br>
  <button type="button" class="btn btn-outline-primary btn-block align-bottom">Eliminar</button>
  <br>
</div>
