<div class="container-fluid">

<h4><strong>Sing In</strong></h4>
<form>
  <div class="form-group">
    <label>Nombre</label>
    <input #signNombre type="text" class="form-control">
  </div>

  <div class="form-group">
    <label>Nombre de usuario</label>
    <input #signIn_nombreUsuario type="text" class="form-control" >
  </div>

  <div class="form-group">
    <label>Contraseña</label>
    <input #signIn_contrasena type="password" class="form-control" >
  </div>

  <div class="form-group">
    <label >Confirme Contraseña</label>
    <input #signIn_contrasenaC type="password" class="form-control">
  </div>


  <button type="button" class="btn btn-success btn-block" >Log In</button>
  <br>
</form>


</div>
