<nav class="navbar navbar-light color">
  <a class="navbar-brand">
    <img src="assets/cliente.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="colorWhite">  Cliente : Crear </span>
  </a>
  <a class="colorWhite" routerLink="/gestion">Salir</a>

</nav>

<div class="container">
  <br><br>
  <form>
    <div class="form-group">
      <label>Numero de Cédula</label>
      <input type="text" class="form-control" id="cc-numeroCedula" placeholder="301110555">
    </div>

    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" id="cc-nombre" placeholder="">
    </div>

    <div class="form-group">
      <label>Apellido</label>
      <input type="text" class="form-control" id="cc-apellido" placeholder="">
    </div>

    <div class="form-group">
      <label>Lugar de Residencia</label>
      <input type="text" class="form-control" id="cc-lugarResidencia" placeholder="">
    </div>

    <div class="form-group">
        <label>Fecha de nacimiento</label>
        <input type="date" class="form-control" id="cc-fechaNacimiento" placeholder="">
      </div>

    <div class="form-group">
      <label>Telefono</label>
      <input type="text" class="form-control" id="cc-telefono" placeholder="########">
    </div>


    <div class="form-group">
      <label>Breve historial</label>
      <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
    </div>
  </form>
  <br>
  <button type="button" class="btn btn-outline-primary btn-block align-bottom">Crear</button>
  <br>
</div>
