<nav class="navbar navbar-light color">
  <a class="navbar-brand">
    <img src="assets/box.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="colorWhite">  Pedido : Actualizar </span>
  </a>
  <a class="colorWhite" routerLink="/gestion">Salir</a>
</nav>
<div class="container">
  <br>
  <form class="form-inline my-2 my-lg-0 ">
    <input class="form-control mr-sm-2 px-4 " type="search" placeholder="Pedido" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <form>
    <div class="form-group">
      <label>Sucursal de Recojo</label>
      <input type="text" class="form-control" id="pa-sucRecojo" placeholder="1111">
    </div>

    <div class="form-group">
      <label>Cliente</label>
      <input type="text" class="form-control" id="pa-cliente">
    </div>

    <div class="form-group">
      <label>Telefono preferido</label>
      <input type="tel" class="form-control" id="pa-telePref">
    </div>

    <div class="form-group">
      <label>Lista de medicamentos</label>
      <input type="text" class="form-control" id="pa-listMedi" placeholder="">
    </div>

    <div class="form-group">
      <label>Hora de recojo</label>
      <input type="time" class="form-control" id="pa-horaRecojo">
    </div>


    <form enctype="multipart/form-data">
      <label for="filesToUpload">Imagen de Receta</label><br/>
      <input type="file" name="filesToUpload[]" id="filesToUpload" multiple="multiple" />
      <output id="filesInfo"></output>
    </form>
  </form>
  <br>
  <button type="button" class="btn btn-outline-primary btn-block align-bottom">Actualizar</button>
  <br>
</div>


