<nav class="navbar navbar-light color">
  <a class="navbar-brand">
    <img src="assets/file.png" width="30" height="30" class="d-inline-block align-top" alt="">
    <span class="colorWhite">  Receta : Eliminar </span>
  </a>
  <a class="colorWhite" routerLink="/gestion">Salir</a>
</nav>
<div class="container ">
  <br>
  <form>
    <div class="form-group">
      <input class="form-control" type="search" placeholder="Receta" aria-label="Search">
      <button class="btn btn-outline-success btn-block" type="submit">Search</button>
    </div>

    <div class="form-group">
      <label>Número de Receta</label>
      <input type="text" class="form-control" id="re-numeroReceta" disabled>
    </div>
    </form>
  <br>
  <button type="button" class="btn btn-outline-primary btn-block align-bottom">Eliminar</button>
  <br>
</div>


