/* You can add global styles to this file, and also import other style files */

nav{
  background: -moz-linear-gradient(Green,Black);
}

div.degradado{
  background: -moz-linear-gradient(Green,Black);
  padding-top: 50px;
  padding-bottom: 30px;
}
