<app-titulo class="m"></app-titulo>
<div class="align-content-center">
<div class="row">
  <div class="col-6 col-md-4 ">
    <h3 class="text-center">Cliente</h3>
    <div class="text-center">
      <img src="assets/cliente.png" class="img-responsive">
    </div>
    <a routerLink="/cliente/c-crear" class="badge badge-success">Crear</a>
    <a routerLink="/cliente/c-actualizar" class="badge badge-success">Actualizar</a>
    <a routerLink="/cliente/c-eliminar" class="badge badge-success">Eliminar</a>
  </div>

  <div class="col-6 col-md-4 ">
    <h3 class="text-center">Receta</h3>
    <div class="text-center">
      <img src="assets/checklist.png" class="img-responsive">
    </div>
    <a routerLink="/doctor/d-crear" class="badge badge-success">Crear</a>
    <a routerLink="/doctor/d-actualizar" class="badge badge-success">Actualizar</a>
    <a routerLink="/doctor/d-eliminar" class="badge badge-success">Eliminar</a>
  </div>

</div>
  <br>
  <div class="row justify-content-center">

  <div class="col-11 col-md-2 align-content-center">
    <h3 class="text-center">Pedido</h3>
    <div class="text-center">
      <img src="assets/medicine.png" class="img-responsive" alt="Responsive image">
    </div>
    <div align="center">
    <a routerLink="/medicamentos/m-crear" class="badge badge-success">Crear</a>
    <a routerLink="/medicamentos/m-actualizar" class="badge badge-success">Actualizar</a>
    <a routerLink="/medicamentos/m-eliminar" class="badge badge-success">Eliminar</a>
    <a routerLink="/medicamentos/m-lista" class="badge badge-success">Lista</a>
    <a routerLink="/medicamentos/m-consulta" class="badge badge-success">Consultar</a>
    </div>
  </div>
</div>

</div>
